<md-card>
  <md-select placeholder="เลือกฤดูกาล" class="mat-full-form" [(ngModel)]="data.Season" (change)="onSeasonChange()">
    <md-option *ngFor="let item of yearStore" [value]="item">
      {{ item }}
    </md-option>
  </md-select>
</md-card>
<md-card>
  <md-list *ngIf="competitions;else otherLoading">
    <md-list-item *ngFor="let item of competitions">
      <a md-button (click)="openDialog(item.id)"><b>({{item.league}})</b> : {{item.caption}}</a>
    </md-list-item>
  </md-list>
  <ng-template #otherLoading>
    <md-spinner class="spiner-center"></md-spinner>
  </ng-template>
</md-card>
