<h3 md-dialog-title>
  Create Note
</h3>

<md-dialog-content>
  <form #f="ngForm">
    <md-input-container class="mat-full-form" >
      <textarea mdInput placeholder="Write note..." [(ngModel)]="data.txtNote" name="note"></textarea>
    </md-input-container>
  </form>
</md-dialog-content>

<md-dialog-actions>
  <button md-button md-grid-tile md-dialog-close>Close <md-icon>clear</md-icon></button>
  <button md-button md-grid-tile (click)="sumbitMyNote()">Save <md-icon>send</md-icon></button>
</md-dialog-actions>