<md-sidenav-container class="mat-container">
    <md-sidenav #sidenav class="mat-sidenav">
        <md-list>
             <md-list-item>
                <a md-button class="mat-list-btn" [routerLink]="['']" (click)="sidenav.close()"> Dashboard </a>
            </md-list-item>
            <md-list-item>
                <a md-button class="mat-list-btn" [routerLink]="['/fav']" (click)="sidenav.close()"> Favorite Team </a>
            </md-list-item>
            <md-list-item>
                <a md-button class="mat-list-btn" [routerLink]="['/leage']" (click)="sidenav.close()"> Leage Table </a>
            </md-list-item>
            <md-list-item>
                <a md-button class="mat-list-btn" [routerLink]="['/note']" (click)="sidenav.close()"> Note </a>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <span>Football Table</span>
        <span class="mat-spacer"></span>
        <md-icon class="mat-icon" (click)="sidenav.open()">reorder</md-icon>
    </md-toolbar>

    <div class="mat-content">
        <router-outlet></router-outlet>
    </div>

</md-sidenav-container>